body{
    font-family: "Poppins", sans-serif;
    background-color: #ffff;
}

.navbar-nav {
    display: flex;
    justify-content: center;
    width: 100%;
   
}

.bg-custom {
    background-color: #f4f4f4; 
}

.navbar {
    background-color: #d5d4d4; 
    color: white;
}

.navbar-nav .nav-link {
    color: white; 
}


.navbar .btn-primary {
    background-color: #007bff;
    border-color: #007bff; 
}


.navbar-nav .nav-link:hover {
    color: #f8f9fa;
}

.navbar .btn-primary:hover {
    background-color: #0056b3; 
    border-color: #0056b3; 
}

.container-ourstory {
    display: flex;
    justify-content: space-between; 
    background-color: #0072F0;
    color:white;
  }
  
  .ourstory {
    flex: 0 0 48%; 
    padding: 20px;
  }
  
  .gambar {
    width: 100%; 
    height: 200px;
    background-image: url('img/gambar1.jpg'); 
    background-size: cover;
    background-position: center; 
  }

  .container-acknowledgement {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center; 
    padding: 20px;
    margin-bottom: 30px;  
}

.container-supportby {
    display: flex;
    justify-content: center;
  }
  
  .support-item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .img-container {
    display: flex;
  }
  
  .img-thumbnail {
    width: 150px;
    height: 150px;
    margin: 10px; 
    border: none;
    margin: 70px;
  }
  
.footer1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px; 
    padding-bottom: 10px; 
    background-color: rgba(0, 0, 0, 0.05);
}

.footer1 .text-end a {
    margin-right: 10px;
}

.link-instagram,
.link-email,
.link-github {
    display: inline-block;
    font-size: 20px; 
    color: inherit;
    margin: 0 5px; 
}