/* === summary === */
.subjudul {
    text-align: left;
    padding: 0;
    margin: 2%;
}

h2 {
    font-size: 32px;
    padding-bottom: 16px;
    font-weight: normal;
    transition: transform 0.6s ease;
    margin: 0;
    transform-origin: left center; /* Atur titik asal transformasi ke kiri tengah */
}

h2:hover {
    transform: scale(1.2);
}

.cards {
    width: auto;
    padding: 2%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 23px;
}

.card {
    padding: 16px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    box-shadow: 0 7px 25px 0 rgba(0, 0, 0, 0.08);
}

.cards .card2 {
    padding: 24px;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
}


.number {
    font-weight: 500;
    color: #0072f0;
}
.card-name {
    color: #888;
    font-weight: 600;
}
.icon-box {
    font-size: 32px;
    color: #0072f0;
}
.card:hover {
    background: #0072f0;
    box-shadow: 0 7px 25px 0 rgba(0, 114, 240, 0.5);
    .card-name, .icon-box, .number {
        color: #fff;
    }
}
/* === dashboard === */
.dashboard {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
    gap: 10px;
    /* width: 90%; */
    /* max-width: 1200px; */
    width: auto;
    min-height: 100vh;
    justify-content: center;
    align-items: start;
    padding: 2%;
}
/* === filter box === */
.filters {
    grid-column: span 3;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

form .select {
    align-items: center;
    box-sizing: border-box;
}

form .select-dropdown .select-btn {
    display: flex;
    height: 48px;
    width: auto;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    cursor: pointer;
    background-color: white;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

form .select-btn .btn-text {
    font-size: 16px;
    font-weight: 400;
    color: black;
}
form .select-btn .arrow-dwn {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0072f0;
    font-size: inherit;
    transition: all 0.3s ease;
  }
.select-btn.open-list .arrow-dwn {
    transform: rotate(180deg);
}
.select-btn.open-list ~ .list-items {
    display: block;
}
.select .list-items {
    position: absolute;
    width: auto;
    max-height: 300px;
    margin-top: 5px;
    border-radius: 5px;
    padding: 12px;
    background-color: white;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    display: none;
    overflow-y: scroll;
}
.select .list-items .select-all {
    width: 100px;
    padding: 4px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    margin: 5px 5px;
    color: #fff;
    background-color: #0072f0;
}
.reset {
    width: 100px;
    padding: 4px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    margin: 5px 5px;
    color: #fff;
    background-color: #888;
}
.select .list-items .select-all:hover .reset:hover {
    cursor: pointer;
}
  
.select .list-items .item {
    display: flex;
    align-items: center;
    list-style: none;
    height: 30px;
    cursor: pointer;
    transition: 0.3s;
    padding: 0 12px;
    border-radius: 5px;
    background-color: white;
}
.select .list-items .item:hover {
    background-color: #f4f4f4;
}
.select .list-items .item label {
    font-size: 16px;
    font-weight: 400;
    padding: 16px;
    color: black;
}
.select .list-items .item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-radius: 5px;
    transition: all 0.3s ease;;
}
/* === chart === */
.total-sales {
    grid-column: span 9;
}
.sales-profit {
    grid-column: span 8;
}
.discount-quantity, .heatmap-sales {
    grid-column: span 7;
}
.abs-aov, .state-lowest {
    grid-column: span 5;
}
.profit-region {
    grid-column: span 4;
}
.city-lowest-sales{
    grid-column: span 12;
}

.chart-item {
    /* background-color: #f4f4f4; */
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    padding: 20px 10px;
    border-radius: 10px;
    height: 500px;
    /* height: max-content; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
}
.chart-item .chart-img {
    width: 100%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.chart-item canvas {
    width: 100% !important;
    height: 100% !important;
    max-width: 100%;
    max-height: 100%;
}
.chart-item table {
    width: 100% !important;
    max-width: 100%;
    box-sizing: border-box;
}
.chart-item p {
    font-weight: bolder;
}
.chart-item .btn-hasil {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 4%;
    align-self: end;
    padding-right: 24px;
}
/* ==== chart overview ==== */
.bisnis-overview{
    /* height: 320px; */
    height: 100%;
    align-items: center;
    box-sizing: border-box;
}
.bisnis-overview .bisnis-img {
    width: 100%;
    height: 100%;
    /* display: flex; */
    align-items: center;
    justify-content: center;
}
.bisnis-overview canvas {
    width: 100% !important;
    height: 100% !important;
    max-width: 100%;
    max-height: 100%;
}
/* == tabel overview == */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
table > thead {
    background-color: #0072f0;
    color: white;
}
.bisnis-tabel th, .bisnis-tabel td {
    padding: 8px;
    text-align: center;
    font-size: smaller;
    border-bottom: 1px solid #ddd;
}
/* ========== Tabel ========== */
.table {
    display: flex;
    flex-direction: column;
    padding: 20px 0 0 0;
    /* padding: 20px 10px; */
    /* border-radius: 10px; */
    height: max-content;
    /* height: max-content; */
    justify-content: space-betwen;
    align-items: center;
    box-sizing: border-box;
}
.table .table-header {
    font-size: 16px;
    color: black;
    font-weight: bolder;
}
div.dt-container{
    color: black;
    font-weight: 500;
    font-size: 12px;
    position: static;
    margin-top: 5px;
}
div.dt-container select.dt-input, div.dt-container .dt-search input {
    border: 1px solid #000;
}
div.dt-container select.dt-input option {
    background-color: white;
}
table.dataTable {
    border-collapse: collapse;
    background-color: white;
    margin: 10px 0;
    width: auto;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
table.dataTable thead th, table.dataTable thead td{
    padding: 12px;
}
table.dataTable tbody th, table.dataTable tbody td {
    padding: 4px 12px;
}
table.dataTable thead tr {
    background-color: #0072f0;
    color: #fff;
    text-align: center;
    font-size: 12px;
    font-weight: 700;
}
table.dataTable thead > tr > th.dt-orderable-asc{
    text-align: center;
}
table.dataTable > tbody > tr {
    text-align: center;
    font-size: 12px;
    border-bottom: 0.5px solid rgba(132, 139, 200, 0.18);
}
table.dataTable > tbody > tr{
    background-color: white;
}
table.dataTable tbody tr:hover td {
    background-color: transparent;
}
table.dataTable tbody td.active {
    background-color: transparent; 
}
table.dataTable td.dt-type-numeric {
    text-align: center;
}
table.dataTable {
    width: 100% !important;
}
div.dt-container .dt-paging .dt-paging-button.disabled, 
div.dt-container .dt-paging .dt-paging-button.disabled:hover, 
div.dt-container .dt-paging .dt-paging-button.disabled:active {
    color: #f4f4f4 !important;
}
.dataTables_wrapper .dataTables_length, .dataTables_filter, .dataTables_info, .dataTables_paginate {
    font-size: 12px;
    color: #000;
}
.dataTables_paginate .paginate_button {
    padding: 4px 8px;
}
.dataTables_wrapper .dataTables_filter{
    float: none;
}

/* === HEAT MAP === */
#heatmapChart {
    height: auto;
    width: 100%;
}
.heatlayer {
    width: 100% !important;
    height: 100% !important;
    max-width: 100%;
    max-height: 100%;
}
/* -=== pop up==== */
.popup {
    display: none;
    position: fixed;
    z-index: 999;
    padding-top: 10%;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}
.popup-content {
    background-color: #fff;
    margin: auto;
    padding: 40px;
    border: 1px solid #f4f4f4;
    width: 50%;
    height: auto;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.popup-content p{
    font-weight: normal;
    text-align: justify;
}
.close {
    color: #0072f0;
    float: right;
    font-size: 32px;
    font-weight: bold;
    padding-bottom: 40px;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* === media queries === */
@media screen and (max-width: 1024px) {
    .sales-profit {
        grid-column: span 7;
    }
    .profit-region {
        grid-column: span 5;
    }
}
@media (max-width: 900px) {
    .cards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
        grid-gap: 12px;
    }
    .card {
        padding: 10px;
        align-items: baseline;
        /* justify-content: space-between; */
        /* border-radius: 10px; */
    }
}
@media screen and (max-width: 768px) {
    .row.secondary{
        grid-template-columns: 1fr;
        grid-gap: 0rem;
        display: flex;
        flex-direction: column;
    }
    .title-capstone2{
        margin: 0;
    }
    .number, .card-name{
        font-size: 16px;
        font-weight: 600;
    }
    
    .icon-box{
        font-size: 19px;
    }
    
    .filters {
        flex-direction: row;
        flex-wrap: wrap;
        grid-column: span 12;
        /* grid-template-columns: repeat(5. 1fr); */
        gap: 8px;
        justify-content: center;
    }
    form .select-dropdown .select-btn,
    .select-sort {
        /* width: max-content; */
        width: 150px;
        padding: 0 16px;
    }
    form .select-btn .btn-text,
    .sort-btn{
        font-size: smaller;
    }

    .total-sales, .discount-quantity, .abs-aov, .heatmap-sales, .state-lowest,.sales-profit, .profit-region{
        grid-column: span 12;
    }
    /* {
        grid-column: span 6;
    } */
    .total-sales, .sales-profit, .discount-quantity, .profit-region, .city-lowest-sales, .abs-aov, .heatmap-sales, .state-lowest {
        padding: 10px;
    }
}
@media screen and (max-width: 610px){
    .sales-profit, .profit-region {
        grid-column: span 12;
    }
    .content, .content p{
        text-align: left;
    }
}
@media screen and (max-width: 470px){
    .cards {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
    }
    .content {
        padding: 24px;
    }
    #logo-hero{
        padding: 24px 32px;
    }
    #logo-hero img{
        height: 40px;
        margin-left: 16px;
    }
    form .select-dropdown .select-btn,
    .select-sort {
        width: 120px;
    }  
}
@media screen and (max-width:375px){
    .cards {
        grid-template-columns: repeat(1, 1fr);
    }
    form .select-dropdown .select-btn,
    .select-sort {
        width: 250px;
    }
    .chart-item .btn-hasil {
        justify-content: space-evenly;
        gap: 2%;
        align-self: center;
        padding: 8px;
    }
    .chart-item .btn-hasil select{
        width: 100%;
        overflow: hidden;
    }
}
@media screen and (max-width:320px){
    .content {
        padding: 16px;
    }
    /* chart */
    .chart-item {
        padding: 20px 10px;
        height: 400px;
        justify-content: space-evenly;
    }
    .chart-item .chart-img {
        width: 100%;
        height: 70%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
