/* Tag global untuk font */
h1 {
    /* font-size: 56px; */
    font-size: 48px;
    font-weight: 100;
}
h2 {
    font-size: 32px;
    padding-bottom: 16px;
    font-weight: normal;
    transition: transform 0.6s ease; /* Transisi untuk transformasi */
}

h2:hover {
    transform: scale(1.3); /* Memperbesar ukuran h2 menjadi 2 kali lipat */
}

h3 {
    font-weight: bold;
}
h4 {
    font-size: 16px;
    font-weight: bold;
}
p.large {
    font-size: 24px;
}
p {
    font-size: 16px;
    font-style: normal;
}

/* Tag global utk button */
.btn-primary {
    /* background-color: #007bff; */
    background-color: #0072f0;
    padding: 12px 48px;
    text-decoration: none;
    font-size: 16px;
    color: white;
    text-align: center;
    display: inline-block;
    border-radius: 5px;
    transition: transform 0.3s ease;
}
.btn-secondary {
    background-color: #f4f4f4;
    padding: 12px 48px;
    text-decoration: none;
    font-size: 16px;
    color: black;
    text-align: center;
    display: inline-block;
    border-radius: 5px;
    transition: transform 0.3s ease;
}

.btn-primary:hover{
    /* background-color: #0056b3; */
    background-color: #007bff;
    transform: scale(1.1);
}
.btn-secondary:hover{
    background-color: #d5d5d5;
    transform: scale(1.1);
}

/* Tag global utk body, navbar, & footer */
html{
    scroll-behavior: smooth;
}

body{
    font-family: "Poppins", sans-serif;
    padding: 0px;
    margin: 0px;
    text-decoration: none;
}

.container-fluid{
    width: auto;
    height: auto;
    margin: auto;
    position: relative;
}

/* navbar */
nav {
    width: 100%;
    height: 64px;
    background: white;
    /* background-color: rgba(255, 255, 255, 0.3); */
    /* backdrop-filter: blur(10px); */
    border-bottom: 1px solid #f4f4f4;
    position: fixed;
    z-index: 999;
}

.logo img {
    width: auto;
    height: 64px;
    float: left;
    /* padding-left: 104px; */
    margin-left: 10%;
}

nav ul {
    float: right;
    padding-inline: 64px;
    margin: auto;
}

nav ul li {
    display: inline-block;
    line-height: 64px;
    margin: 0 5px;
}

nav ul li a {
    color: #0072f0;
    text-align: center;
    padding: 12px 16px;
    text-decoration: none;
    font-size: 16px;
}

a:hover {
    background-color: #f4f4f4;
    transition: .5s;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
    background-color: #f4f4f4;
}

/* Styling the dropdown menu */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    z-index: 1;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
}

.dropdown-content a {
    color: #0072f0;
    padding: 12px 16px;
    display: block;
    text-wrap: nowrap;
    line-height: 32px;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #f4f4f4;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropbtn {
    background-color: transparent;
    text-decoration: none;
    color: #0072f0;
    /* padding: 10px 15px; */
    border: none;
    font-size: 16px;
    cursor: pointer;
}

.dropbtn:hover {
    text-decoration: none;
}

.checkbtn {
    font-size: 30px;
    color: #0072f0;
    float: right;
    line-height: 65px;
    /* margin-right: 40px; */
    margin-right: 8%;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

/* ========================================== */
.hero{
    width: 100%;
    position: relative;
    align-items: center;
    text-align: center;
    overflow: hidden;
    height: 508px;
}
.bg-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -1; /* Menempatkan gambar latar belakang di belakang elemen lain */
}
.content {
    position: relative;
    z-index: 1;
    color: white;
    top: 112px;
}

#logo-hero {
    position: relative;
    bottom: 32px;
    right: 32px;
    text-align: right;
    padding: 64px 64px 32px;
}

#logo-hero img {
    margin-left: 24px;
    height: 56px;
}


.title-capstone1 {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    padding: 64px 64px 24px;
    margin: 8px;
}
    

.title-capstone2 {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    padding: 16px 64px;
    margin: auto;
}

.container-overview {
    overflow: hidden;
    align-items: center;
    padding: 56px;
    margin: auto;
}    

.overview {
    flex: 1;
    padding: 64px;
}

.container-analysis {
    position: relative;
    align-items: center;
    margin: auto;
    overflow: hidden;
    height: auto;
    padding: 56px;
}

.analysis {
    flex: 1; 
    color: white;
    padding: 56px;
}

.container-teams,
.container-technology,
.container-acknowledgement,
.container-supportby {
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center;
    padding: 64px; 
    width: auto;
}

.container-teams h2,
.container-technology h2,
.container-acknowledgement h2,
.container-supportby h2,
.container-technology .technology {
    padding: 24px 0px;
    margin: auto;
    justify-content: center;
}
.container-teams p{
    text-align: center;
}

.container-acknowledgement p,
.container-teams p {
    max-width: 1300px;
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.flex-container > div {
    margin: 2px;
    padding: 4px;
    transition: transform 0.3s ease; 
}
.flex-container > div:hover {
    transform: scale(1.1);
}

.dropdown2 {
    width: 100%;
    max-width: 1200px; /* Atur lebar maksimum sesuai kebutuhan */
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
    align-items: center;
}

.dropdown select {
    font-size: 16px;
}

.flex-container2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1200px;
    /* display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto; */
    /* gap: 8px; */
}
.flex-container2 > div {
    margin: 2px;
    padding: 16px;
    transition: transform 0.3s ease;
}

.foto-container {
    text-align: center;
    margin: 10px;
    padding: 0px 16px;
    transition: transform 0.3s ease; /* Tambahkan transisi untuk transform */
}

.foto-container:hover {
    transform: scale(1.1); /* Membesarkan elemen saat dihover */
}

.foto-container img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.caption {
    margin-bottom: 5px;
}

.additional-text {
    color: #0072f0;
    margin-top: 5px;
    font-size: smaller;
}

.technology img {
    height: 64px;
    width: 64px;
}
 
.img-thumbnail {
    width: 88px;
    height: 88px;
    margin: 10px;
    padding: 24px; 
    border: none;
}

.line{
    width: 88px;
    height: 0.25rem;
    background: #0072f0;
    border-radius: 1rem;
    margin-bottom: 0.5rem;
    transition: width 0.6s ease;
}
.line:hover{
    width: 264px;
}
/*================================*/
.form-section {
    height: 100vh;
    padding: 5%; 
    background-image: linear-gradient(to right, white, white, rgb(0, 114, 240, 0.6));
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12%;
}

.suggestion-box {
    /* grid-column: span 6; */
    justify-content: center;
    background-color: #fff;
    padding: 10%;
    margin: auto;
    border: 1px solid #f4f4f4; 
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(151, 149, 149, 0.2);
    width: 80%;
    /* height: 70vh; */
    height: fit-content;
}

.suggestion-box h3{
    margin: auto;
    font-weight: bold;
    padding: 24px 0px;
}

/* .form-group input,
.form-group textarea {
    transition: border-color 0.3s;
} */

.form-group input:focus,
.form-group textarea:focus {
    border-color: #007bff;
    outline: none;
}

.form-group {
    padding-bottom: 20px;
    gap: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 16px;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
}

textarea {
    height: 100px;
}

::placeholder{
    font-family: "Poppins", sans-serif;
}

button {
    cursor: pointer;
    width: 100%;
    font-family: inherit;
    border: none;
}


/* ========================================== */
footer {
    background-image: linear-gradient(white , #f4f4f4);
    width: auto;
    font-size: 16px;
    box-shadow: 0 0 10px rgba(213, 213, 213, 0.2);
}
  
.row {
    padding: 4%;
}
  
.row.primary {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: space-around;
}

.row.secondary {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: space-around;
}
  
.column {
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 1em;
}

.column img {
    width: 200px;
    height: auto;
}
  
.footer-text {
    width: 100%;
    text-align: left;
    white-space: nowrap;
    margin-bottom: 1rem;
    font-style: italic;
}
  
.column ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}
  
.column li:not(:first-child) {
    margin-top: 0.8em;
}
  
.column ul li a {
    color: black;
    text-decoration: none;
    width: auto;
}
  
.column ul li a:hover {
    color: #0072f0;
}
  
div.social {
    display: flex;
    font-size: 32px;
    flex-direction: row;
    margin-top: 1.5rem;
}
  
.social i {
    color: black;
    margin-right: 0.8rem;
    margin-left: 0.8rem;
}

.social i:hover {
    color: #0072f0;
}
  
.copyright {
    background-color: rgba(213, 213, 213, 0.2);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}
  
.copyright p {
    font-size: 12px;
    margin: 8px;
}
  
.copyright a {
    font-weight: bold;
    color: black;
    font-style: italic;
    text-decoration: none;
}
  
.copyright a:hover {
    color: #0072f0;
}

/* ========================================== */
/* Media Screen */
@media screen and (min-width: 1500px) {
    /* feedback form */
    .form-section {
        height: 60vh;
        padding: 72px; 
    }
    .form-section-right{
        padding-left: 20%;
    }
    .suggestion-box {
        padding: 8%;
        width: 50%;
        /* height: 70vh; */
        max-height: fit-content;
    }

    /* analysis overview */
    .container-analysis{
        height: 600px;
    }
    /* project overview */
    .container-overview{
        align-items: center;
        padding: 56px;
        margin: 56px;
        height: 400px;
    }
}

@media screen and (min-width: 2560px){
    .suggestion-box {
        width: 40%;
    }
}

@media screen and (max-width: 920px) {
    /* navbar */
    .checkbtn {
        display: block;
    }

    nav {
        top: 0;
    }

    nav ul {
        position: fixed;
        width: 20%;
        height: 100%;
        background: #f4f4f4;
        top: 65px;
        left: 100%;
        transition: all .5s;
        z-index: 999;
    }

    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
        z-index: 999;
    }

    nav ul li a {
        font-size: 16px;
    }

    a:hover {
        background: #d5d5d5;
        color: #0072f0;
    }

    #check:checked~ul {
        left: 70%;
    }

    .dropbtn {
        font-size: 16px;
    }

    .dropdown-content {
        right: 0;
    }

    /* body */
    .overview, .analysis {
        flex: auto;
        padding: 16px;
    }

    .form-section{
        gap: 4%;
    }

    /* form-feedback */
    .form-section {
        height: fit-content;
        display: grid;
        grid-template-columns: 1fr;
        gap: 16px;
    }
    .form-section-right{
        margin: auto;
        max-width: 500px;
        text-align: center;
    }
    .suggestion-box {
        justify-content: center;
        background-color: #fff;
        padding: 5%;
        width: 60vh;
        /* height: 70vh; */
        height: fit-content;
       
    }
    
    .suggestion-box h3{
        padding: 16px 0px;
    }
    .form-group{
        padding-bottom: 4%;
    }
    
}
#thanks-feedback {
    display: none;
}

/*thanks form*/
.thanks-form {
    text-align: center; /* center the content horizontally */
}

.thanks-form h2,
.thanks-form h5,
.thanks-form h4 {
    display: inline-block; /* make the elements inline-block to center them */
    margin:  20px; /* add margin to center the elements */
    
}

/* footer */
footer {
    font-size: 14px;
}
.column img {
    width: 150px;
    height: auto;
}
div.social {
    font-size: 24px;
}
/* @media (max-width: 768px) {
} */

@media screen and (max-width: 560px){
    /* footer */
    .row.primary {
        grid-template-columns: 1fr;
        grid-gap: 0rem;
        display: flex;
        flex-direction: column;
    }
    .column{
        padding: 24px 0px;
    }
    .foto-container {
        flex: 0 0 calc(50% - 20px);
        /* 2 foto per baris pada layar kecil (misalnya smartphone) */
    }
}

/* Maksimum lebar untuk desktop atau tablet */
